$color-back:rgb(218, 170, 14);
$color-green: rgb(127, 236, 55);
$color-white: rgb(255, 255, 255);
$color-grey: rgb(212, 213, 216);
$color-greenpale: rgb(170, 240, 113);
$color-blue: rgb(58, 107, 212);
$color-black: rgb(49, 49, 48);






