@import "colors.scss";

@import "nav.scss";

/* Variables */

body{background-color: $color-back;}
/* Nest Main */
main {
    width: 1350px;
    min-height:535px;
    display:flex;
    background-color: $color-back;

// Mixin or Extend for button
        #intro-text{
            background: $color-grey;
            border: 1px solid $color-white;
            justify-content: flex-start;         
            width: 50%;
            text-align: center;
            padding-top: 80px;
          

            .submit-buttton {
                    background: $color-back;
                    color:white;
                    cursor: pointer;
                    border:0;
                    
                    font-size: 1rem;
                    padding: 1em 0.5em;
                    text-align: center;
                }
        }
 
        #intro-image{
            //width:50%;
            width:800px;
            justify-content: flex-end;

            img {
                width: 800px;
            }
        }
}

 